<html>
    <body>
        <div style="margin-left: 200px;font-family: Arial, Helvetica, sans-serif;">
        <h1>Quiz will Beginning ...!</h1>
        <form method="POST">
            {% for q in data %}
                {% csrf_token %}

                <div><h1>Q. {{ q.que }}</h1></div>
                <div>
                    <p><input type="radio" name="q{{ q.id }}" value="{{ q.w_ans1 }}" id="q1a">a. {{ q.w_ans1 }}<br></p>
                    <p><input type="radio" name="q{{ q.id }}" value="{{ q.w_ans2 }}" id="q1b">b. {{ q.w_ans2 }}<br></p>
                    <p><input type="radio" name="q{{ q.id }}" value="{{ q.w_ans3 }}" id="q1c">c. {{ q.w_ans3 }}<br></p>
                    <p><input type="radio" name="q{{ q.id }}" value="{{ q.w_ans4 }}" id="q1d">d. {{ q.w_ans4 }}<br></p>
                </div>
                {% endfor %}
                <input type="submit" value="Submit" style="padding: 5px 30px;background-color: black; color: white;cursor: pointer;">
        </form></div>
    </body>
</html>